<p>{{ title.value }}</p>

<button class="btn btn-primary" [disabled]="isDisabled"
  [class.test]="isDisabled" [style.color]="color">button</button>


<div *ngFor="let item of items">
  {{ item?.key }}

  <button class="btn btn-secondary" (click)="receiveMessage($event)">
    envoyer
  </button>
</div>

<hr>

<!-- a --- aChange -->

<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]="filter">
</div>

<!-- {{ filter }} -->

<hr>

<p id="message" #elem> mon message </p>

<hr>

<div class="alert alert-primary">
  Montant total de l'enfant: {{ childComponentRef.amount }}
</div>

<app-child-component #childComponentRef></app-child-component>
